[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aricode"]
	path = aricode
	url = https://github.com/jchiquet/aricode
[submodule "quadrupen"]
	path = quadrupen
	url = https://github.com/jchiquet/quadrupen
[submodule "spinyReg"]
	path = spinyReg
	url = https://github.com/cran/spinyReg
